@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding:0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
transition: 0.5s ease-out;
}